/*
  ========================================
  Body
  ========================================
*/

body {
  background: #eceef1;
}

/*
  ========================================
  Header
  ========================================
*/


/*
  ========================================
  Logo Section
  ========================================
*/

.logo-links {
  margin: 0 auto;
  width: 400px;
}

.intuit-logo {
  margin-left: 100px;
}



/*
  ========================================
  Form
  ========================================
*/

.signup-form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 400px;
  height: 600px;

  /* Form outline */
  padding: 1em;
  border: 1px solid #CCC;

  background: white;
}

.form-header {
  text-align: center;
}





form ul {
  list-style: none;

}

.form-disclaimer {
  text-align: center;
}
